<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">About Our Indian Railways</h5>
        <p>Indian Railways (IR) is a statutory body under the jurisdiction of Ministry of Railways , Government of India that operates India's national railway system.
          ....</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">RailwayInfo</a>
          </li>
          <li>
            <a href="#!">Railway Safety</a>
          </li>
          <li>
            <a href="#!">covid safety Measures</a>
          </li>
          <li>
            <a href="#!">Railway History</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Help</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Railway help</a>
          </li>
          <li>
            <a href="#!">Enquiries</a>
          </li>
          <li>
            <a href="#!">feedback</a>
          </li>
          <li>
            <a href="#!">Comments</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">IndianRailways</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->