<table class="table">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Train No</th>
        <th scope="col">Train name</th>
        <th scope="col">General Class Price</th>
        <th scope="col">AC 2-Tier price</th>
        <th scope="col">First Class</th>
        <th scope="col">Sleeper Class</th>
        <th scope="col">AC 3-Tier price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AS34FGY</td>
        <td>Kuchbul Express</td>
        <td>450/-</td>
        <td>1000/-</td>
        <td>500</td>
        <td>2000/-</td>
        <td>2500/-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>AS34FGY</td>
        <td>Gaya Express</td>
        <td>550/-</td>
        <td>1200/-</td>
        <td>700/-</td>
        <td>2050/-</td>
        <td>3500/-</td>
        </tr>
      <tr>
        <th scope="row">3</th>
        <td>AS34FGY</td>
        <td>Rajadhani Express</td>
        <td>450/-</td>
        <td>900/-</td>
        <td>1500</td>
        <td>200/-</td>
        <td>2400/-</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>AS34FGY</td>
        <td>Golconda Express</td>
        <td>450/-</td>
        <td>1000/-</td>
        <td>500</td>
        <td>2000/-</td>
        <td>2500/-</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>AS34FGY</td>
        <td>Samanthakamani Express</td>
        <td>1060/-</td>
        <td>900</td>
        <td>1500/-</td>
        <td>679/-</td>
        <td>800/-</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>AS34FGY</td>
        <td>Sathavahana Express</td>
        <td>600/-</td>
        <td>1200/-</td>
        <td>2468</td>
        <td>567/-</td>
        <td>2874/-</td>
      </tr>
    </tbody>
  </table>