<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Train No</th>
      <th scope="col">Train name</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Timing</th>
      <th scope="col">Reservation Availabe</th>
      <th scope="col">Special Trips</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>AP12FGH</td>
      <td>Satavahana Express</td>
      <td>Vijayawada</td>
      <td>Hyderabad</td>
      <td>6am</td>
      <td>Yes</td>
      <td>Mon, Tue, Wed</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>HY56FVA</td>
      <td>Gaya Express</td>
      <td>Hyderabad</td>
      <td>Varanasi</td>
      <td>8am</td>
      <td>Yes</td>
      <td>Sun,Thurs, Fri</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>VI56KO6</td>
      <td>Howrah Express</td>
      <td>Vishakapatnam</td>
      <td>Kolkata</td>
      <td>11am</td>
      <td>No</td>
      <td>Sun, Wed, Sat</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>S441TSA</td>
      <td>Golconda</td>
      <td>Srikakulam</td>
      <td>Srisailam</td>
      <td>7am</td>
      <td>Yes</td>
      <td>Tue, Thurs, Fri</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>VJ71DO</td>
      <td>Kuchbul Passenger</td>
      <td>Vijayawada</td>
      <td>Dornakal</td>
      <td>11am</td>
      <td>No</td>
      <td>Mon, Tue</td>
      
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>AM34DL7</td>
      <td>Rajadhani Express</td>
      <td>Amaravathi</td>
      <td>Delhi</td>
      <td>2pm</td>
      <td>Yes</td>
      <td>Sun</td>
      
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>UH45FGH</td>
      <td>Sathavahana</td>
      <td>Vishakapatnam</td>
      <td>Mumbai</td>
      <td>11am</td>
      <td>No</td>
      <td>Sun, Fri</td>
    
    </tr>
  </tbody>
</table>