<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="booking-form">
						<form>
							<h1>Check The Train Schedules</h1>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">From City</span>
										<input class="form-control" type="text" placeholder="City or Station" list="hosting-plan" required>
							

							             <datalist id="hosting-plan">
						                        	<option value="Hyderabad">
						                    
				                        	</datalist>

									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group"><span class="form-label">To City</span>
										
										<input class="form-control" type="text" placeholder="City or Station" list="plan" >
										
										<datalist id="plan">
											<option value="Vijayawada">
										<!----	<option value="Kanyakumari">
											<option value="Kolkata">-->
									</datalist>
										
									</div>
								</div>
							</div>
							<!--<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Departure</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Arrival</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
							</div>-->
							<!--<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Adults (18+)</span>
										<select class="form-control">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Children</span>
										<select class="form-control">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Travel class</span>
										<select class="form-control">
											<option value="First Class">First class</option>
											<option value="Second Class">Second class</option>
											<option value="Sleeper Class">Sleeper class</option>
											<option value="Ac 2 Tier">Ac 2 Tier</option>
											<option value="Ac 3 Tier">Ac 3 Tier</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>-->
							   
							<div class="form-btn">
								<button class="btn-primary  border-0"  routerLink="/particularstation"  >Check Availability</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
