


  <div class="al">
    <table *ngIf="userDetails" class="table"> 
        <thead>
            <tr>
                <th colspan="2" class="text-center">User Profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{userDetails.fullName.split(' ')[0]}}</td>
            </tr>
           
           
            <tr>
                <td>Email</td>
                <td>{{userDetails.email}}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    
                    
                
                    <br><br>
                    <button (click)="onLogout()" type="button" class="btn btn-danger"> Click To Reserve Ticket </button>
    
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    























    